@charset "utf-8";
/* CSS Document */

#maincont {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 80%;
	margin: 3em auto;
}

#cadenceTitle {
	background: #FA0004;
	color: white;
	padding: 0.1em .3em 0.1em .3em;
	font-size: 2em;
	margin-top: 20px;
}

#scr1Cont {
	height: auto;
}

#imgCont {
	height: 150px;
	overflow: hidden;
	width: 100%;
}

#cadenceimg {
	transform: translate(0, -30%);
	width: 600px;
}

#cadenceparagraph {
	margin-top: 1em;
	margin-left: 1em;
	font-size: 1.2em;
}