@charset "utf-8";
/* CSS Document */

img.nurmikkoLabMembers {
	margin: 0 5%;
	width: 90%;
}

img.down_arrow {
	width: 10%;
	margin: 0 45%;
	position: relative;
	top: -2em;
}

div.introTextCont {
	width: 90%;
	margin: 0 auto;
}

#welcome {
	font-size: 3.5em;
	padding-bottom: 0.25em;
}

#labDesc {
	padding: 1em 1em 0 1em;
	font-size: 1.25em;
}